{% extends 'en_base.html' %}
{% block title %}Contact{% endblock %}
{% block body_class %}contact{% endblock %}

{% block content %} 
	<div class="full-width-container block-2">
		<div class="container">
			<div class="row">
				<div class="grid_12">
					<div>
						<hader>
							<h4 naid="#anchor"><span>Contact</span></h4></a>
						</hader>
						<p class="el-1">
						</p>
						<p class="el-2">
						</p>
					</div>
                </div>
                <div>
					<div class="grid_12">
                    <ul>
                    <li><a href="mailto:sales@jyugon.com">E-mail</a></li>
                    <li><a href="http://www.linkedin.com/in/sakaijun" target="_blank">Linkedin</a></li>
                    <li><a href="https://www.facebook.com/sakaijunsoccer" target="_blank">Facebook</a></li>
                    <li><a href="http://twitter.com/sakaijun" target="_blank">Twitter</a></li>
					</ul>
                    </p>
				</div>
                </div>
			</div>
		</div>
	</div>
<br><br>

{% endblock %}        
