{% extends "en_base.html" %}
{% block title %}Profile{% endblock %}
{% block body_class %}profile{% endblock %}

{% block content %}
	<div class="full-width-container block-1">
		<div class="container">
			<div class="row">
				<div class="grid_12">
					<article class="clearfix">
						<div class="grid_3 alpha">
							<div class="img_container"><img src="/media/img/profile/jun.png" height="50%" alt="img"></div>
						</div>
						<div class="grid_9">
							<h5>About Jyugon</h5>
                            <table class="type10" style="width:100%;">
                                <tr><td style="width:20%;">Name</td><td style="width:80%">Jyugon Corp</td></tr>
                                <tr><td>Address</td><td>220 S KING ST STE 1705 HONOLULU, HI 96813</td></tr>
                                <tr class="even"><td>CEO</td><td>Jun Sakai</td></tr>
                            </table>
                            <br><br>
                         <br><br>
						</div>
					</article>
	            </div>
			</div>
		</div>
	</div>
{% endblock content %}
