{% extends "en_base.html" %}
{% block title %}Udemy{% endblock %}
{% block body_class %}movie{% endblock %}

{% block content %}
	<div class="full-width-container block-1">
		<div class="container">
			<div class="row">
				<div class="grid_12">

					<article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/course/pythonfx/?referralCode=6AA7E83564D01E1EF94F" target="_blank">
							<div class="img_container"><img src="/media/img/movie/udemy_python_fx.png" alt="img"></div>
                            </a>
						</div>
						<div class="grid_8">
                            <h4>
							<a href="https://www.udemy.com/course/pythonfx/?referralCode=6AA7E83564D01E1EF94F" target="_blank">
                            Python + Fx (Japanese)
                            </a>
                            </h4>
						</div>
					</article>

					<article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/python-blockchain/?couponCode=SPECIALOFFER" target="_blank">
							<div class="img_container"><img src="/media/img/movie/udemy_python_blockchain.png" alt="img"></div>
                            </a>
						</div>
						<div class="grid_8">
                            <h4>
							<a href="https://www.udemy.com/python-blockchain/?couponCode=SPECIALOFFER" target="_blank">
                            Python + Blockahin (Japanese)
                            </a>
                            </h4>
						</div>
					</article>

					<article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/go-blockchain/" target="_blank">
							<div class="img_container"><img src="/media/img/movie/udemy_go_blockchain.png" alt="img"></div>
                            </a>
						</div>
						<div class="grid_8">
                            <h4>
							<a href="https://www.udemy.com/python-blockchain/" target="_blank">
                            Go + Blockahin (Japanese)
                            </a>
                            </h4>
						</div>
					</article>

					<article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/go-drone/?couponCode=SPECIALOFFER" target="_blank">
							<div class="img_container"><img src="/media/img/movie/udemy_go_drone.png" alt="img"></div>
                            </a>
						</div>
						<div class="grid_8">
                            <h4>
							<a href="https://www.udemy.com/go-drone/?couponCode=SPECIALOFFER" target="_blank">
                            Go + Drone (Japanese)
                            </a>
                            </h4>
						</div>
					</article>

					<article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/python-beginner/?couponCode=SPECIALOFFER" target="_blank">
							<div class="img_container"><img src="/media/img/movie/udemy_python_drone.png" alt="img"></div>
                            </a>
						</div>
						<div class="grid_8">
                            <h4>
							<a href="https://www.udemy.com/python-beginner/?couponCode=SPECIALOFFER" target="_blank">
                            Python + Drone (Japanese)
                            </a>
                            </h4>
						</div>
					</article>

					<article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/go-fintech/?couponCode=SPECIALOFFER" target="_blank">
							<div class="img_container"><img src="/media/img/movie/udemy_go_fintech.png" alt="img"></div>
                            </a>
						</div>
						<div class="grid_8">
                            <h4>
							<a href="https://www.udemy.com/go-fintech/?couponCode=SPECIALOFFER" target="_blank">
                            Go + Bitcoin (Japanese)
                            </a>
                            </h4>
						</div>
					</article>

					<article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/python-beginner/?couponCode=SPECIALOFFER" target="_blank">
							<div class="img_container"><img src="/media/img/movie/udemy_python_beginner.png" alt="img"></div>
                            </a>
						</div>
						<div class="grid_8">
                            <h4>
							<a href="https://www.udemy.com/python-beginner/?couponCode=SPECIALOFFER" target="_blank">
                            Python 3 for beginner (Japanese)
                            </a>
                            </h4>
						</div>
					</article>

					<article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/jun-sakai-trading-course1/" target="_blank">
							<div class="img_container"><img src="/media/img/movie/udemy_stock_1.png" alt="img"></div>
                            </a>
						</div>
						<div class="grid_8">
                            <h4>
							<a href="https://www.udemy.com/jun-sakai-trading-course1/" target="_blank">
                            How to study stock trading strategies (Japanese)
                            </a>
                            </h4>
						</div>
					</article>

					<article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/jun-sakai-trading-course5/?couponCode=SPECIALOFFER" target="_blank">
							<div class="img_container"><img src="/media/img/movie/udemy_stock_2.png" alt="img"></div>
                            </a>
						</div>
						<div class="grid_8">
                            <h4>
							<a href="https://www.udemy.com/jun-sakai-trading-course5/?couponCode=SPECIALOFFER" target="_blank">
                            Finance (Japanese)
                            </a>
                            </h4>
						</div>
					</article>

                    <article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/jun-sakai-trading-course3/?couponCode=SPECIALOFFER" target="_blank">
							<div class="img_container"><img src="/media/img/movie/udemy_stock_3.png" alt="img"></div>
                            </a>
						</div>
						<div class="grid_8">
                            <h4>
							<a href="https://www.udemy.com/jun-sakai-trading-course3/?couponCode=SPECIALOFFER" target="_blank">
                            Fundamental analysis(japanese)
                            </a>
                            </h4>
						</div>
					</article>

                    <article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/jun-sakai-trading-course4/?couponCode=SPECIALOFFER" target="_blank">
							<div class="img_container"><img src="/media/img/movie/udemy_stock_4.png" alt="img"></div>
                            </a>
						</div>
						<div class="grid_8">
                            <h4>
							<a href="https://www.udemy.com/jun-sakai-trading-course4/?couponCode=SPECIALOFFER" target="_blank">
                            Technical analysis(japanese)
                            </a>
                            </h4>
						</div>
					</article>

					<article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/jun-sakai-trading-course2/?couponCode=SPECIALOFFER" target="_blank">
							<div class="img_container"><img src="/media/img/movie/udemy_stock_5.png" alt="img"></div>
                            </a>
						</div>
						<div class="grid_8">
                            <h4>
							<a href="https://www.udemy.com/jun-sakai-trading-course2/?couponCode=SPECIALOFFER" target="_blank">
                            What is behavioral economics (japanese)
                            </a>
                            </h4>
						</div>
					</article>

					<article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/course/ajail-scrum/" target="_blank">
							<div class="img_container"><img src="/media/img/movie/udemy_ajail.png" alt="img"></div>
                            </a>
						</div>
						<div class="grid_8">
                            <h4>
							<a href="https://www.udemy.com/course/ajail-scrum/" target="_blank">
                            Ajail Development (japanese)
                            </a>
                            </h4>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}
