{% extends "base.html" %}
{% block title %}Udemy{% endblock %}
{% block body_class %}course{% endblock %}

{% block content %}
	<div class="full-width-container block-1">
		<div class="container">
        <br>
			<div class="row">
				<div class="grid_12">
					<br><br>
					<article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/course/pythonfx/?referralCode=6AA7E83564D01E1EF94F" target="_blank">
							<div class="img_container"><img src="/media/img/course/udemy_python_fx.png" alt="img"></div>
                            </a>
						</div>
						<div class="grid_8">
							<h5><a href="https://www.udemy.com/course/pythonfx/?referralCode=6AA7E83564D01E1EF94F" target="_blank">現役シリコンバレーエンジニアが教えるPythonでFXのシストレFintechアプリの開発 </a></h5>
							<p>本コースでは、今回扱うFintech技術では、日本でも人気のあるFXの自動トレードをPythonで行い、グローバルで使われているOandaサービスのAPIを使って行います。日本で人気があるという理由でFXにしましたが、FXではなくても、APIを使ってトレードするやり方さえ学べば、例えば株式や仮想通貨のトレードなどでも十分に使える技術を学ぶことができますので、FXにご興味ない方でも自動トレードが何かということを学べる講座になっております。</p>
						</div>
					</article>
					<br><br>
					<article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/python-blockchain/?couponCode=SPECIALOFFER" target="_blank">
							<div class="img_container"><img src="/media/img/course/udemy_python_blockchain.png" alt="img"></div>
                            </a>
						</div>

						<div class="grid_8">
							<h5><a href="https://www.udemy.com/python-blockchain/?couponCode=SPECIALOFFER" target="_blank">現役シリコンバレーエンジニアが教えるPythonで始めるスクラッチからのブロックチェーン開発入門
</a></h5>
							<p>本コースでは、Pythonを使いスクラッチからブロックチェーンを開発します。Blockchain技術は難しい技術資料が多く、わかりにくい点が多々ありますが、実際にコーディングして実装することで理解がしやすくなることかと思います。また、ブロックチェーンができるエンジニアの求人はシリコンバレーでも増えており、今後ブロックチェーンが開発できるエンジニアの希少性が高まることかと思います。プロックチェーンのエンジニアならないとしても、ブロックチェーンを実装された経験は就職や転職の際に提出する履歴書の中でも目立つものとなることかと思います。この機会にブロックチェーンの実装をしてみませんか。</p>
						</div>
					</article>
					<br><br>
					<article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/go-blockchain/" target="_blank">
							<div class="img_container"><img src="/media/img/course/udemy_go_blockchain.png" alt="img"></div>
                            </a>
						</div>

						<div class="grid_8">
							<h5><a href="https://www.udemy.com/go-blockchain/" target="_blank">現役シリコンバレーエンジニアが教えるGoで始めるスクラッチからのブロックチェーン開発入門
</a></h5>
							<p>本コースでは、Goを使いスクラッチからブロックチェーンを開発します。Blockchain技術は難しい技術資料が多く、わかりにくい点が多々ありますが、実際にコーディングして実装することで理解がしやすくなることかと思います。また、ブロックチェーンができるエンジニアの求人はシリコンバレーでも増えており、今後ブロックチェーンが開発できるエンジニアの希少性が高まることかと思います。プロックチェーンのエンジニアならないとしても、ブロックチェーンを実装された経験は就職や転職の際に提出する履歴書の中でも目立つものとなることかと思います。この機会にブロックチェーンの実装をしてみませんか。</p>
						</div>
					</article>
					<br><br>
					<article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/go-drone/?couponCode=SPECIALOFFER" target="_blank">
							<div class="img_container"><img src="/media/img/course/udemy_go_drone.png" alt="img"></div>
                            </a>
						</div>
						<div class="grid_8">
							<h5><a href="https://www.udemy.com/go-drone/?couponCode=SPECIALOFFER" target="_blank">現役シリコンバレー現役エンジニアが教えるGo入門 + ドローンプログラミング</a></h5>
							<p>本コースでは、GoとGobotを使ったドローンプログラミングを行います。Gobotに慣れれば、Gobotに対応する他のロボットも扱えるようになるかと思います
。今、ロボット時代と言われるよう、今後AIとロボットが発展するのは明らかです。今回使用するドローンはトーイドローンなので、高度なロボットという難しいものではなく、Goに慣れな
がら、簡易的に室内などでドローンを動かしてみようというレベルになっております。日本でもお子さんのプログラミング教育にも注目されてきておりますが、このコースで習ったドローン
ブログラミングをお子さんに教えてあげるのも良いかと思います。</p>
						</div>
					</article>
					<br><br>
					<article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/python-drone/?couponCode=SPECIALOFFER" target="_blank">
							<div class="img_container"><img src="/media/img/course/udemy_python_drone.png" alt="img"></div>
                            </a>
						</div>
						<div class="grid_8">
							<h5><a href="https://www.udemy.com/python-drone/?couponCode=SPECIALOFFER" target="_blank">ge現役シリコンバレー現役エンジニアが教える未経験者のためのPythonドローンプログラミング</a></h5>
							<p>本コースでは、Python3を使ったドローンプログラミングを行います。今、ロボット時代と言われるよう、今後AIとロボットが発展するのは明らかです。今回使用するドローンはトーイドローンなので、高度なロボットという難しいものではなく、Pythonに慣れながら、簡易的に室内などでドローンを動かしてみようというレベルになっております。日本でもお子さんのプログラミング教育にも注目されてきておりますが、このコースで習ったドローンブログラミングをお子さんに教えてあげるのも良いかと思います。</p>
						</div>
					</article>
					<br><br>
					<article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/go-fintech/?couponCode=SPECIALOFFER" target="_blank">
							<div class="img_container"><img src="/media/img/course/udemy_go_fintech.png" alt="img" ></div>
                            </a>
						</div>
						<div class="grid_8">
							<h5><a href="https://www.udemy.com/go-fintech/?couponCode=SPECIALOFFER" target="_blank">現役シリコンバレーエンジニアが教えるGo入門 + 応用でビットコインのシストレFintechアプリの開発</a></h5>
							<p>このコースでは、Goの基礎である入門コースを一通り終えた後に、次世代のFintech（金融＋テクノロジー）のアプリケーションとしてビットコインを自動>でシステムトレードを行うアプリを開発します。多くの言語の良い部分を取りれたGoは、コードを実行する際のパフォーマンスも良く、近年急速にライブラリも充実して来ており、シリコン>バレーで多くの企業が取り入れ始めました。日本では、ドキュメントも少なく、Go言語を使う機会があまりないかもしれませんが、世界のトップ企業はすでに使い始めているため、技術レベ>ルで世界から遅れないように今からGo始めると良いかと思います。</p>
						</div>
					</article>
					<br><br>
					<article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/python-beginner/?couponCode=SPECIALOFFER" target="_blank">
							<div class="img_container"><img src="/media/img/course/udemy_python_beginner.png" alt="img"></div>
                            </a>
						</div>
						<div class="grid_8">
							<h5><a href="https://www.udemy.com/python-beginner/?couponCode=SPECIALOFFER" target="_blank">Python 3入門 + 応用 +アメリカのシリコンバレー流コードスタイルを学び、実践的なアプリ開発の準備をする</a></h5>
							<p>このコースでは、Python3の基礎である入門コースを一通り終えた後に、今後のアプリケーション開発に役立つためのPythonのテクニックやデーターベースアクセス、WEB関連などのPythonを使った応用編を取り入れております。また、Pythonのコードをただ書いて、プログラムが動けば良いというだけではなく、コードスタイルに関しても言及しております。pythonicにと言われるように、PythonはPythonらしく綺麗でわかりやすいコードを書くことが大切です。</p>
						</div>
					</article>
					<br><br>
					<article class="clearfix">
						<div class="grid_4 alpha">
							<a href="https://www.udemy.com/course/ajail-scrum/" target="_blank">
							<div class="img_container"><img src="/media/img/course/udemy_ajail.png" alt="img"></div>
                            </a>
						</div>
						<div class="grid_8">
							<h5><a href="https://www.udemy.com/course/ajail-scrum/" target="_blank">現役シリコンバレーエンジニアが教えるアジャイル開発</a></h5>
							<p>このコースでは、あらゆるレベルのビジネスプロフェッショナルが理解しやすい方法でアジャイルとスクラムの基本をカバーします。アジャイルとスクラムの基礎に関するこのコースから得られる知識を使用して、アジャイルとスクラムに適した環境を作成できます。アジャイルとスクラムの開発方法を取り入れれば、プロジェクトが失敗するのを防ぐことにも繋がる可能があります。このAjailプロジェクト管理方法は、チームワークが特に重要であり、チームメンバー間の相互信頼を高め、対人関係を改善することもできるでしょう。</p>
						</div>
					</article>
					<br><br>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}
