{% extends "base.html" %}
{% block title %}プロフィール{% endblock %}
{% block body_class %}profile{% endblock %}

{% block content %}
	<div class="full-width-container block-1">
		<div class="container">
			<div class="row">
				<div class="grid_12">
					<article class="clearfix">
                        <div class="grid_3 alpha">
                        </div>
						<div class="grid_9">
							<h5>会社概要</h5>
                            <table class="type10" style="width:100%;">
                                <tr><td style="width:20%;">社名</td><td style="width:90%">Jyugon Corp</td></tr>
                                <tr><td>本社</td><td>220 S KING ST STE 1705 HONOLULU, HI 96813</td></tr>
                                <tr class="even"><td>CEO</td><td>酒井潤</td></tr>
                                <tr><td>設立</td><td>2020</td></tr>
                            </table>
                         <br><br>
                    </div>

					</article>
                    <br><br><br>
					<article class="clearfix">
                        <div class="grid_3 alpha">
                            <div class="img_container"><img src="/media/img/profile/jun.png" height="50%" alt="img"></div>
                        </div>
						<div class="grid_9">
                         <h5>CEO プロフィール</h5>
                         <p style="line-height:1.7">
                         1998年同志社大学神学部。サッカー推薦で入学し、在学中は大学日本代表に選出。2001年のU21の東アジア競技大会で金メダルを取得。プロのオファーを受けるが、膝の靭帯断裂による怪我のため断念。2002年北陸先端科学技術大学院大学情報科学専攻修士。2004年NTTドコモ入社、2005年米国ハワイで起業、会社経営を2年する。その後、2006年米国スタートアップの会社に転職するも2008年のリーマンショックでスタートアップが倒産。2009年米国NTTi3で勤務をした後に、2012年米国本社Splunk, Incで株式上場を経験し、2020年よりJyugon CorpのCEOとして事業経営を行なっている。 (ツイッター <a href="https://twitter.com/sakaijun" target="_blank">@sakaijun</a>)
                    </div>

					</article>
	            </div>
			</div>
		</div>
	</div>

{% endblock content %}
